<a href="https://colab.research.google.com/github/comptech-winter-school/covid19-prediction/blob/visualization/Create_Vizual_Ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

In [22]:
ALL_DATA = "https://raw.githubusercontent.com/AntonioWanderer/covid19-prediction/visualization/graph.csv"
COORDS="https://raw.githubusercontent.com/AntonioWanderer/covid19-prediction/visualization/coords.csv"

In [23]:
FIRST_COL="Country1"
SECOND_COL="Country2"
THIRD_COL="Lag"
FOURTH_COL="Degree_of_certainty"

In [26]:
df=pd.read_csv(ALL_DATA, error_bad_lines=False,sep=";")
coords=pd.read_csv(COORDS)
df.head()

      Country1   Country2  Lag  Degree_of_certainty
0  Afghanistan    Albania -100             0.329855
1  Afghanistan    Algeria   38             0.754405
2  Afghanistan  Argentina  -29             0.663128
3  Afghanistan    Armenia   99             0.265069
4  Afghanistan  Australia   99            -0.063636

In [27]:
coords.head()

   Unnamed: 0 Country_Region  Confirmed       Lat      Long_
0           0    Afghanistan   160692.0  33.93911  67.709953
1           1        Albania   251015.0  41.15330  20.168300
2           2        Algeria   243568.0  28.03390   1.659600
3           3        Andorra    35028.0  42.50630   1.521800
4           4         Angola    97812.0 -11.20270  17.873900

In [72]:
countries1 = df.merge(coords, left_on="Country1", right_on="Country_Region", how="inner").drop(["Confirmed", "Country_Region","Unnamed: 0"], axis=1)
rus1=countries1[countries1["Country2"] == "Russia"]
rus1.head()

        Country1 Country2  Lag  Degree_of_certainty       Lat      Long_
90   Afghanistan   Russia   99             0.144013  33.93911  67.709953
206      Albania   Russia  -60             0.723340  41.15330  20.168300
321      Algeria   Russia   99             0.482765  28.03390   1.659600
435    Argentina   Russia   99             0.442892 -38.41610 -63.616700
548      Armenia   Russia   24             0.583083  40.06910  45.038200

In [73]:
countries2 = df.merge(coords, left_on="Country2", right_on="Country_Region", how="inner").drop(["Confirmed", "Country_Region","Unnamed: 0"], axis=1)
rus2=countries2[countries2["Country1"] == "Russia"]
rus2.head()

     Country1      Country2  Lag  Degree_of_certainty        Lat       Long_
4277   Russia        Rwanda -100             0.658055  -1.940300   29.873900
4369   Russia  Saudi Arabia -100            -0.135410  23.885942   45.079162
4462   Russia        Serbia  -21             0.625687  44.016500   21.005900
4556   Russia     Singapore  -17             0.620307   1.283300  103.833300
4651   Russia      Slovakia   23             0.784416  48.669000   19.699000

In [89]:
#rus1.reindex(columns=['Country2','Country1','Lag','Degree_of_certainty','Lat','Long_'])
rus1.rename(columns={'Country1':'Country','Country2':'Main'},inplace=True)
rus2.rename(columns={'Country2':'Country','Country1':'Main'},inplace=True)
Country_list=pd.concat([rus1,rus2],axis=0)
Country_list.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         Country    Main  Lag  Degree_of_certainty       Lat      Long_
90   Afghanistan  Russia   99             0.144013  33.93911  67.709953
206      Albania  Russia  -60             0.723340  41.15330  20.168300
321      Algeria  Russia   99             0.482765  28.03390   1.659600
435    Argentina  Russia   99             0.442892 -38.41610 -63.616700
548      Armenia  Russia   24             0.583083  40.06910  45.038200

In [59]:
rus2.to_csv('Rus_Bot.csv')
rus1.to_csv('Rus_Top.csv')

In [91]:
Country_list.to_csv('Russia_relations.csv')

In [10]:
any(coords["COUNTRYAFF"] == "Russian Federation")

True

In [ ]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
coords["COUNTRYAFF"]

0           United States
1           United States
2             New Zealand
3                  France
4             New Zealand
              ...
244         United States
245                 Palau
246    Russian Federation
247                 Spain
248                 Spain
Name: COUNTRYAFF, Length: 249, dtype: object

In [ ]:
from fuzzywuzzy import fuzz, process

In [ ]:
def get_translate(one, two) -> dict:
  one_to_two = {}
  for word1 in one:
    candidates = []
    for word2 in two:
        candidates.append((word2, fuzz.ratio(word1, word2)))
    one_to_two[word1] = max(candidates, key=lambda x: x[1])[0]
  return one_to_two

In [ ]:
import numpy as np
get_translate(df["Country1"].unique(), coords["COUNTRYAFF"].unique())

In [ ]:
process.extractOne("Russia", coords["COUNTRYAFF"].unique(), scorer=fuzz.token_sort_ratio)

('Tunisia', 62)